#Cards{
    display: flex;
}
#Cards div{
    width: 25%;
    overflow: hidden;
    height: 240px;
}
#Cards div img{
    width: 100%;
}
#Cards div p{
    position: relative;
    bottom: 65px;
    color: white;
    padding-left: 20px;
    padding-right: 10px;
    font-weight: 700;
}
#Cards div img:hover{
    transform:scale(1.2);
    transition: 1.5s;
}
#HeaderSection1 ul{
    display:flex;
    list-style-type: none;
    gap:20px;
    align-items: center;
    padding-top: 12px;
    padding-bottom: 12px;
}
#HeaderSection1{
    background-color: black;
    color: white;
    padding-top: 8px;
    height: 7z0px;
}
.red:hover{
    color: red;
}
#ImageSection1 img{
    width: 100%;

    
}
#HeaderSection2 ul{
    display:flex;
    list-style-type: none;
    gap:20px;
    align-items: center;
    padding-top: 12px;
    padding-bottom: 12px;
}
#HeaderSection2{
    background-color: black;
    color: white;
    padding-top: 8px;
    height: 7z0px;
}
.red1:hover{
    color: red;
}
#ImageSection2 img{
    width: 100%;

    
}


#HeaderSection3 ul{
    display:flex;
    list-style-type: none;
    gap:20px;
    align-items: center;
    padding-top: 12px;
    padding-bottom: 12px;
}
#HeaderSection3{
    background-color: black;
    color: white;
    padding-top: 8px;
    height: 7z0px;
}
.red2:hover{
    color: red;
}
#ImageSection3 img{
    width: 100%;

    
}
